<article class="mainArticle {{class}}">

{% set rend1250 = null %}
{% set rend610 = null %}
{% set webp1250 = false %}
{% set webp610 = false %}
{% set fallbackJPGsmall = null %}
{% set fallbackJPGbig = null %}
{% set mimeType = null %}  

  {% if article.featureMedia %}

    {% gimme rendition with { 'media': article.featureMedia, 'name': '1250x600', 'fallback': '610x380' } %}
      {% set rend1250 = path(rendition) %}
      {% set fallbackJPGbig = path(rendition) %}
      {% if rendition.isConvertedToWebp %}
        {% set rend1250 = path(rendition, { webp: true }) %}
        {% set webp1250 = true %}
      {% endif %} 
    {% endgimme %}

    {% gimme rendition with { 'media': article.featureMedia, 'name': '610x380', 'fallback': '400x240' } %}
      {% set rend610 = path(rendition) %}
      {% set fallbackJPGsmall = path(rendition) %}
      {% set mimeType = article.featureMedia.mimetype %}
      {% set imgCaption = article.featureMedia.description %}
      {% set imgCredit = article.featureMedia.byLine %}      
      {% if rendition.isConvertedToWebp %}
        {% set rend610 = path(rendition, { webp: true }) %}
        {% set webp610 = true %}
      {% endif %}
    {% endgimme %}

  {% else %}
    {% set imgCaption = "Daily News Theme" %}
    {% set fallbackJPGsmall = "/public/img/article_img/610x380.jpg" %}
    {% set fallbackJPGbig = "/public/img/article_img/1250x600.jpg" %}
  {% endif %}

  <figure class="mainArticle__image {% if image =='small' %}mainArticle__image--small{% endif %} ">
    <a href="{{ url(article) }}">
    <picture>
      {% if image=='small' %}
        {% if webp610 %}<source media="(max-width: 680px)" data-srcset="{{ rend610 }}" type="image/webp">{% endif %}                 
        <source data-srcset="{{ fallbackJPGsmall }}" type="{{ mimeType }}">
        <img class="lazyload" style="display: block; margin: 0 auto;" data-src="{{ fallbackJPGsmall }}" alt="{{ imgCaption }}" title="{{ imgCaption }} {% if imgCredit != '' %}(Foto: {{ imgCredit }}){% endif %}">
      {% else %}
        {% if webp1250 %}<source data-srcset="{{ rend1250 }}" type="image/webp">{% endif %}
        <source data-srcset="{{ fallbackJPGbig }}" type="{{ mimeType }}">
        <img class="lazyload" style="display: block; margin: 0 auto;" data-src="{{ fallbackJPGbig }}" alt="{{ imgCaption }}" title="{{ imgCaption }} {% if imgCredit != '' %}(Foto: {{ imgCredit }}){% endif %}">
      {% endif %}
    </picture>
    </a>
  </figure>
            
          <div class="mainArticle__text ">
            <a href="{{ url(article) }}">
              <span class="mainArticle__kicker">Lorem ipsum</span>
              <h2 class="mainArticle__headline mainArticle__headline--small">{{ article.title }}</h2>
            </a>
            {% if deck!='none' %}
            <div class="mainArticle__teaser">
              <p>{% if foo is empty %}
                    {{ article.body|striptags|safeTruncate(200,"...") }}
                  {%else%}
                    {{ article.lead|striptags|safeTruncate(200,"...") }}
                  {%endif%}</p>
            </div>
          {% endif %}
            <div class="articleMetadata">
              {% if article.authors %}
                {% for author in article.authors %} 
                <span class="articleMetadata__byline--white">by {{ author.name }}</span>
                {% endfor %}
              {% elseif article.metadata.byline %}
                <span class="articleMetadata__byline--white">by {{ article.metadata.byline }}</span>
              {% endif %} 
              <a class="articleMetadata__shares articleMetadata__info articleMetadata__info--white" href="#">240</a>
              <a class="articleMetadata__comments articleMetadata__info articleMetadata__info--white" href="#">20</a>
            </div>
          </div>
        </article>
